html { 
  box-sizing: border-box;
  font-family: 'Hind Vadodara', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  --white: #F9FAF8;
  --dark: #1F2937;
  --blue: #3882F6;
  --gray: #E5E7EB;
} 
  
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
} 

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  padding: 14px 50px;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 3vh;
}

footer {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  
}

.logo {
  color: var(--white);
  letter-spacing: 3px;
}

#hero {
  min-height: 650px;
  max-height: 900px;
  padding: 20px 20px 27px 20px;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  gap: 4%;
}

.hero-text {
  max-width: 100%;
  width: 510px;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  gap: 20px;
}

#hero .title {
  line-height: 55px;
}

#hero .btn-signup {
  border-style: none;
  align-self: flex-start;
}

#hero img {
  width: 530px;
  max-width: 100%;
  flex: 0 1 auto;
}

#hero .title {
  font-size: 48px;
}

#info {
  padding: 50px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}

.item-container {
  padding: 0 20vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}


.item {
  padding: 0 30px 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.item img {
  border: 6px solid var(--blue);
}

.item img, .subtext {
  width: 200px;
}

#quote {
  background-color: var(--gray);
  padding: 50px 20px 150px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.quote-text {
  max-width: 1030px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quote-author {
  padding-right: 30px;
  align-self: flex-end;
}

#signup {
  padding: 140px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  width: 1500px;
  max-width: 100%;
  min-height: 230px;
  max-height: 500px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 1 auto;
  gap: 20px;
}

.signup-texts {
  width: 650px;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  gap: 10px;
}

.btn-signup {
  font-size: inherit;
  font-family: inherit;
  max-width: 100%;
  width: 150px;
  height: 45px;
  flex: 0 1 auto;
  word-wrap: break-word;
}

#signup .btn-signup {
  border: 3px solid var(--white);
}


/* GROUPS */

header, footer, #hero {
  background-color: var(--dark);
  color: var(--white);
}

#info, #signup {
  background-color: var(--white);
}

.signup-container, .btn-signup {
  background-color: var(--blue);
  color: var(--white);
}
.title, .quote-text {
  font-size: 36px;
}

.logo, .quote-author {
  font-size: 24px;
}

.logo, .title, .quote-author, .btn-signup {
  font-weight: 900;
}

#info .title, #quote .title {
  padding: 0 20px;
}

footer, #info .title, #quote .title, .subtext{
  text-align: center;
}

#hero img, .item img, .btn-signup, .signup-container {
  border-radius: 10px;
}

